.floorplan {
  background: rgb(255, 163, 203);
  background: linear-gradient(
    264deg,
    rgb(255, 236, 236) 0%,
    rgb(255, 249, 252) 100%
  );
  padding: 2rem 0;
  height: 90vh;
}
.floorplan__container {
  height: 100%;
  padding-bottom: 4rem;
  overflow-y: scroll;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: flex-start;
}

.floorplan__box {
  padding: 0.4rem;
  background: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-box-shadow: 0px 9px 21px -6px rgba(41, 41, 41, 1);
  -moz-box-shadow: 0px 9px 21px -6px rgba(41, 41, 41, 1);
  box-shadow: 0px 9px 21px -6px rgb(41 41 41 / 28%);
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease-in-out !important;
}

.floorplan__box:hover {
  box-shadow: 0px 15px 21px -6px rgb(41 41 41 / 28%);
  border-bottom: 3px solid var(--primary__color);
}

.floorplan__box-content {
  padding: 0.9rem;
  pointer-events: none;
}

.floorplan__box-content h2 {
  padding-bottom: 0.8rem;
  color: rgb(0, 0, 72);
}

.floorplan__box-content p {
  color: rgb(41, 41, 41);
}

.floorplan__box img {
  border-top: 1px solid rgb(224, 224, 224);
  pointer-events: none;
}

.floorplan__box-content i {
  color: var(--primary__color);
}

/* The Modal (background) */
.floorplan__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.floorplan__modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation: pops 0.5s ease alternate;
}

.floorplan__modal-details {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.floorplan__modal-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floorplan__modal-contents h2 {
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  color: #000;
  font-size: 2.3rem;
}

.floorplan__modal-contents i {
  color: var(--primary__color);
  font-size: 1.4rem;
}

.floorplan__modal-contents p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color: rgb(52, 52, 52);
}

/* The floorplan__modal-Close Button */
.floorplan__modal-close {
  color: #292929;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.7rem;
}

.floorplan__modal-close:hover,
.floorplan__modal-close:focus {
  color: var(--primary__color);
  text-decoration: none;
  cursor: pointer;
}

@keyframes pops {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.select__dropdown,
.select__dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select__dropdown {
  position: relative;
  background-color: white;
  width: 280px;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select__dropdown p {
  background: var(--primary__color);
  padding: 0.5rem 1rem;
  border-radius: 0px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

.select__dropdown select {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  max-width: 300px;
  padding: 8px 40px 8px 20px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select__dropdown select:active,
.select__dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select__dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid var(--primary__color);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
