svg {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

svg.siteplan__svg {
  position: relative;
  /* z-index: 1; */
}

.siteplan__container {
  position: relative;
  border-top: 5px solid var(--primary__color);
  z-index: 11;
  width: 100%;
  height: 92vh;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
  cursor: grab;
}

/* The siteplan__Modal (background) */
.siteplan__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  transition: all 0.5s ease-in-out;
}

/* siteplan__Modal Content */
.siteplan__modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  /* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
  transition: all 1s ease;
}

/* The siteplan__modal-Close Button */
.siteplan__modal-close {
  color: #5f5f5f;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.siteplan__modal-close:hover,
.siteplan__modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.siteplan__zoom-btn {
  position: fixed;
  right: 3%;
  bottom: 15%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.siteplan__zoom-btn button {
  border: 2px solid white;
  padding: 0.8rem 0.7rem;
  background: var(--primary__color);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  /* font-size: 1rem; */
}

.siteplan__zoom-btn i {
  font-size: 0.9rem;
  pointer-events: none;
}

.group__rect {
  position: relative;
  z-index: 2999;
  cursor: pointer;
}

/* The Modal (background) */
.siteplan__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.siteplan__modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  animation: pops 0.5s ease alternate;
}

.siteplan__modal-details {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.siteplan__modal-details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.siteplan__modal-contents h2 {
  padding-bottom: 1rem;
  padding-top: 3.5rem;
  color: #000;
  font-size: 2rem;
}

.siteplan__modal-contents i {
  color: var(--primary__color);
  font-size: 1.4rem;
}

.siteplan__modal-contents p {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  color: rgb(52, 52, 52);
}

/* The siteplan__modal-Close Button */
.siteplan__modal-close {
  color: #292929;
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 0.7rem;
}

.siteplan__modal-close:hover,
.siteplan__modal-close:focus {
  color: var(--primary__color);
  text-decoration: none;
  cursor: pointer;
}

@keyframes pops {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.swiper__js {
  height: 80vh;
  width: 60vw;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y: scroll;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  object-fit: contain;
}

/* .thumbnail__slide {
  height: 100px;
  object-fit: cover;
}

.thumbnail__slide img {
  height: auto;
  width: 100%;
} */
